<body style="text-align:center; font-family:Palatino; background-color:SlateBlue; color:white;">
    <h1 style="font-size:600%;">Welcome to Chitter</h1>

    <form action="/message_board" method='post'>
        <h3 style="font-size:200%;">First name</h3>
        <input type="text" name='firstname'>
        <h3 style="font-size:200%;">Message</h3>
        <input type="text" name='msg'>
        <input type='submit' value='Submit'>
    </form>
</body>