<div style="text-align:center; font-family:Palatino; background-color:Tomato; color:white;">
    <h1 style="font-size:600%;">Message Board</h1>
</div>
<div style="text-align:center; font-family:Palatino; background-color:SlateBlue; color:white;">
    <h1 style="font-size:300%;"> <%= @name %></h1>
    <h3 style="font-size:200%;"> <%= @peep %></h3>
</div>